.popup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 880px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
}

@media screen and (max-width: 880px) {
  .popup__opened {
    max-width: 100%;
  }
}