.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  position: relative;
  margin-top: 9px;
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}