.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  position: relative;
  margin-bottom: 8px;
  cursor: pointer;
}

.profile__edit-button:hover {
	opacity: 60%;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}