.profile__img-pen {
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(-50%, -50%)
}

@media screen and (max-width: 425px) {
  .profile__img-pen {
    width: 7px;
    height: 7px;
  }
}