.element__title {
  max-width: 390px;
  font-size: 24px;
  font-family: Inter-Black;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
	grid-area: text;
	margin: 0 0 25px 21px;
}