.popup__button {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
	font-weight: 500;
  text-align: center;
  margin: 29px auto 0;
  cursor: pointer;
}

.popup__button:hover {
  opacity: .8;
}

@media screen and (max-width: 540px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}