.header__logo {
  max-width: 142px;
  margin-bottom: 38px;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin: 0 0 38px 27px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    max-width: 103px;
    margin: 0 0 28px 27px;
  }
}