.profile__tittle {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0 25px 0px 0;
}

@media screen and (max-width: 425px) {
  .profile__tittle {
    font-size: 27px;
    line-height: 33px;
    margin: 0 12px 0 27px;
  }
}