.profile__tittle {
  max-width: 490px;
  font-size: 42px;
  font-weight: 900;
  line-height: 48px;
  margin: 0 25px 0px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 930px) {
  .profile__tittle {
    max-width: 390px;
  }
}

@media screen and (max-width: 768px) {
  .profile__tittle {
    font-size: 27px;
    line-height: 33px;
    margin: 0 12px 0 27px;
  }
}