.element__group {
  margin: 27px 0 0 30px;
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  fill: #000;
}

.element__group:hover {
  opacity: 50%;
}