.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  margin-left: auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 282px;
    margin: 0 19px;
  }
}