.profile__text {
  max-width: 490px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__text {
    font-size: 14px;
    line-height: 17px;
    margin: 3px 0 34px 0;
    padding: 2px 0 0 0;
  }
}