.footer__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 425px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
}