.element__group_black {
  background-image: url(../../../../images/SVG/heart-black.svg);
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 6px 22px 0 0;
}