.popup__hield {
  border: 0 none;
  width: 358px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 11.5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 36px 17px;
}

.popup__hield:focus {
  outline: none;
  border: 2px solid rgb(70, 70, 223);
}

.popup__hield:last-child {
  background-color: blue;
}

@media screen and (max-width: 540px) {
  .popup__hield {
    width: 238px;
    margin: 0 22px 17px;
  }

}