.popup__hield {
  border: 0 none;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: 11.5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__hield:focus {
  outline: none;
  border: 2px solid rgb(70, 70, 223);
}