@import url(../vendor/font.css);
@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__your-hobby/popup__your-hobby.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__hield/popup__hield.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__cros/popup__cros.css);
@import url(../blocks/popup/__conteiner/popup__conteiner.css);
@import url(../blocks/popup/__opened/popup__opened.css);
@import url(../blocks/popup/popup.css);

@import url(../blocks/profile/__img-cross/profile__img-cross.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__img-pen/profile__img-pen.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__title/profile__tittle.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info-header/profile__info-header.css);
@import url(../blocks/profile/profile.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/element/__heart/element__heart.css);
@import url(../blocks/element/__group/element__group.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__rectangle/element__rectangle.css);
@import url(../blocks/element/__mask-group/element__mask-group.css);
@import url(../blocks/element/__group/_black/element__group_black.css);
@import url(../blocks/element/element.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

