@import url(../vendor/font.css);
@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/__img-cross/profile__img-cross.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__img-pen/profile__img-pen.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__title/profile__tittle.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/profile.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/element/__heart/element__heart.css);
@import url(../blocks/element/__group/element__group.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__rectangle/element__rectangle.css);
@import url(../blocks/element/__mask-group/element__mask-group.css);
@import url(../blocks/element/element.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

.main {}

.popup {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}


.popup__conteiner {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background-color: #fff;
  margin-top: 215px;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 540px) {
  .popup__conteiner {
    width: 282px;
    height: 322px;
    margin-top: 141px;
  }
}

.popup__cros {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
	cursor: pointer;
}

.popup__cros:hover {
  opacity: .6;
}

@media screen and (max-width: 540px) {
  .popup__cros {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}


.popup__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 34px 0 35px 36px;
}

@media screen and (max-width: 540px) {
  .popup__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin: 25px 22px 62px;
  }
}

.popup__hield {
  border: 0 none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 11.5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 36px;
}

.popup__hield:focus {
	outline: none;
	border: 2px solid rgb(70, 70, 223);
}

  @media screen and (max-width: 540px) {
    .popup__hield {
      margin: 0 22px;
    }
  }

  .popup__name {
    margin-bottom: 17px;
  }

  .popup__your-hobby {
    margin-bottom: 48px;
  }

  @media screen and (max-width: 540px) {
    .popup__your-hobby {
      margin-bottom: 43px;
    }
  }

  .popup__button {
    width: 358px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
		cursor: pointer;
  }

  .popup__button:hover {
    opacity: .8;
  }

  @media screen and (max-width: 540px) {
    .popup__button {
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
    }
  }