.profile__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
	text-align: center;
}


@media screen and (max-width: 768px) {
  .profile__info {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
}