.profile__avatarButton {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 0;
  margin: 0 30px 0 0;
  position: relative;
  background: url(../../../images/SVG/Перо.svg) center no-repeat;
  background-size: 26px;
}

/* .profile__avatar-pen {
  width: 28px;
  height: 28px;
  position: absolute;
  margin: 47px 47px;
  opacity: 0.5;
}

.profile__avatar-pen:hover {
  opacity: 1;
} */