.popup__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  margin: 42px 0 35px 36px;
}

@media screen and (max-width: 540px) {
  .popup__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin: 43px 22px 62px;
  }
}